@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("colors.css");

::-moz-selection {
  /* Code for Firefox */
  color: var(--primary2);
  background: var(--accent);
}

::selection {
  color: var(--primary2);
  background: var(--accent);
}

* {
  padding: 0px;
  margin: 0px;
  color: var(--primary3);
  font-family: "Poppins", sans-serif !important ;
}

body {
  height: 100vh !important;
  background: var(--primary1) !important;
}

/* nav css */
nav {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  background: var(--primary3) !important;
}

.logo {
  height: 3.5rem;
}
.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--accent) !important;
  font-size: 2.5rem;
}

/* page css */
.center {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

.enter {
  width: 25rem !important;
}

.btn-primary {
  background: var(--primary3);
  color: var(--primary1);
  width: 5rem;
  border: none;
  border: 1px solid var(--primary3);
}

.btn-primary:hover {
  background: var(--primary2);
  color: var(--accent);
  width: 5rem;
  border: 1px solid var(--primary3);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-group-item {
  background: var(--primary2);
  width: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-danger {
  background: var(--accent);
  color: var(--primary3);
  width: 3.5rem;
  border: none;
}

/* footer css */
footer {
  position: fixed;
  bottom: 0px;
  width: 100% !important;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary3) !important;
  color: var(--accent) !important;
}
.footer-copy {
  color: var(--accent);
}
.rt {
  position: absolute;
  right: 40px;
}
.sec {
  color: var(--secondary) !important;
  transition: all 0.3s ease-in-out;
}
.sec:hover {
  color: var(--accent) !important;
}

footer a {
  text-decoration: none !important;
}

.grey-text {
  color: var(--primary2);
}
